name: Deploy dbt

# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prod

    env: 
      SNOWFLAKE_CLI_FEATURES_ENABLE_DBT: true
      SNOWFLAKE_DATABASE: ${{ vars.SNOWFLAKE_DATABASE }}
      SNOWFLAKE_SCHEMA: ${{ vars.SNOWFLAKE_SCHEMA }}
      # SNOWFLAKE_USER: ${{ secrets.SNOWFLAKE_USER }}
      SNOWFLAKE_ACCOUNT: ${{ secrets.SNOWFLAKE_ACCOUNT }}
      # SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Snowflake CLI
        uses: snowflakedb/snowflake-cli-action@v2.0
        with: # Ensures Snowflake CLI will search for OIDC users matching this subject
          use-oidc: true

      - name: Inspect OIDC token (debug)
        run: snow auth oidc read-token | jwt decode -
        
      - name: Check Snowflake CLI Version
        run: snow --version

      # The -x is short hand for --temporary-connection
      - name: Test the Snowflake CLI connection
        run: snow connection test -x

      - name: Deploy the dbt project object in ${{ vars.SNOWFLAKE_ACCOUNT }} on ${{ vars.SNOWFLAKE_DATABASE }}.${{ vars.SNOWFLAKE_SCHEMA }}
        run: snow dbt deploy dbt_snowflake_test --source ./dbt_snowflake_project --force -x

      - name: List all of the snowflake dbt project objects on ${{ vars.SNOWFLAKE_ACCOUNT }}
        run: snow dbt list -x

      - name: Clone prod database object into ${{ vars.SNOWFLAKE_DATABASE }}.${{ vars.SNOWFLAKE_SCHEMA }}
        run: snow dbt execute -x dbt_snowflake_test run-operation clone_prod_database --target stage
        
      - name: Execute build on dbt project object in ${{ vars.SNOWFLAKE_ACCOUNT }} on ${{ vars.SNOWFLAKE_DATABASE }}.${{ vars.SNOWFLAKE_SCHEMA }}
        run: snow dbt execute -x dbt_snowflake_test build --target stage

      - name: Swap prod and stage databases
        run: snow dbt execute -x dbt_snowflake_test run-operation swap_databases --target stage